.chatbox__icon-btn {
	position: fixed;
	bottom: 2rem;
	left: 2rem;
	font-size: 2rem;
	color: var(--white-text-color);
	background-color: var(--primary-btn-color);
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50% 50% 50% 15%;
	cursor: pointer;
	display: grid;
	place-content: center;
	transition: 0.3s ease-in-out;

	&:hover {
		transform: scale(1.05);
	}
}

.chatbox__icon-attention-msg {
	position: fixed;
	left: 78px;
	bottom: 78px;
	width: 72px;
	height: 72px;
	display: grid;
	place-content: center;
	opacity: 0; /* Startvärde */
	transition: opacity 0.7s ease-in-out; /* Tiden för fade */
	pointer-events: none;
	animation: poping-effect 1s ease-in-out 2s;
}

.chatbox__icon-attention-msg--visible {
	opacity: 1;
	pointer-events: auto;
	cursor: pointer;
}

@keyframes poping-effect {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.chatbox__chaticon {
	position: absolute;
	left: -4px;
	top: 1px;
	width: 110%;
	z-index: -1;
}

.chatbox__attention-msg-box {
	font-size: 0.6rem;
	text-align: center;
	color: var(--white-text-color);
}

.chatbox__chaticon-text {
	color: var(--white-text-color);
}
.chatbox__icon {
	color: var(--white-text-color);
	transition: opacity 1.3s ease, transform 0.3s ease;
	font-size: 1.5rem;
}

.chatbox__icon-btn .chatbox__icon {
	opacity: 1;
}

.chatbox__icon-btn .chatbox__icon-exit {
	opacity: 0;
}

.chatbot__wrapper {
	position: fixed;
	left: 2rem;
	bottom: 6rem;
	width: 375px;
	margin: 0 auto;
	z-index: 999;
	background-color: var(--primary-card-color);
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	overflow: hidden;
}

.chatbot__header {
	padding: 1rem;
	background-color: var(--primary-bg-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chatbot__header-icon {
	font-size: 2rem;
	color: var(--white-text-color);
}

.chatbot__header-title {
	color: var(--white-text-color);
}

.chatbox__minimize-btn {
	height: 2rem;
	width: 1.8rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: flex-end;
}

.chatbox__minimize-line {
	width: 100%;
	border: 2px solid var(--white-text-color);
	border-radius: 20px;
}

.chatbot__main {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.chatbot__message-box {
	max-height: 300px;
	overflow-y: auto;
	margin: 0.5rem 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	scrollbar-width: thin;
}

.chatbot__message-item {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.chatbot__close-btn {
	justify-self: flex-end;
}

.chatbot__empty-message-ai {
	font-size: 3rem;
	align-self: center;
	color: var(--accent-bg-color);
}

.chatbot__message {
	border-radius: 10px;
	padding: 0.5rem;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.chatbot__message-loading {
	width: 8%;
	border-radius: 10px;
	padding: 0 0.5rem;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
	background-color: var(--secondary-bg-color);
}

.typing-dots {
	display: flex;
	align-items: center;
	border-radius: 10px;
	width: 15%;
	gap: 5px;
	padding: 1rem;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
	background-color: var(--secondary-bg-color);
}

.typing-dots span {
	width: 5px;
	height: 5px;
	background-color: var(--accent-bg-color);
	border-radius: 50%;
	display: inline-block;
	animation: blink 1.4s infinite both;
}

.typing-dots span:nth-child(2) {
	animation-delay: 0.2s;
}

.typing-dots span:nth-child(3) {
	animation-delay: 0.4s;
}

@keyframes blink {
	0%,
	80%,
	100% {
		opacity: 0.2;
	}
	40% {
		opacity: 1;
	}
}

.chatbot__message--ai {
	text-align: left;
	background-color: var(--secondary-bg-color);
}

.chatbot__message--user {
	display: inline;
	align-self: end;
	background-color: var(--primary-bg-color);
	color: var(--white-text-color);
}

.chatbot__profile-box {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.chatbot__profile-time {
	font-size: 1rem;
}

.chatbot__profile--ai {
	font-size: 1.2rem;
	color: var(--accent-bg-color);
}

.chatbot__profile--user {
	align-self: end;
	font-size: 1.2rem;
	color: var(--primary-bg-color);
}

.chatbot__bottom {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.chatbot__input-box {
	width: 100%;
	padding: 0.5rem;
	border-radius: 50px;
	font-size: 1rem;
}

.chatbot__input-box:focus {
	outline: none;
	border: 2px solid var(--primary-btn-color);
}

.chatbot__btn {
	width: 100%;
	padding: 1rem;
	font-size: 1.2rem;
	background-color: var(--primary-btn-color);
	color: var(--white-text-color);
	border-radius: 10px;
	border: none;
}

@media screen and (max-width: 412px) {
	.chatbot__wrapper {
		width: 375px;
		left: 1rem;
	}
}

@media screen and (max-width: 390px) {
	.chatbot__wrapper {
		width: 365px;
		left: 0.5rem;
	}
}
