.main__homepage {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 0 1rem;
}

.top-scroll-btn__box {
	position: fixed;
	height: 60px;
	width: 60px;
	right: 2rem;
	bottom: 2rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
	z-index: 999;
	border-radius: 50%;
	display: grid;
	place-content: center;
}

.top-scroll-btn__box:hover {
	transform: scale(1.1);
}

.top-scroll-btn__icon {
	font-size: 3rem;
	background-color: var(--secondary-bg-color);
	border-radius: 50%;
	border: 2px solid black;
}
.info__box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	.info__left-img {
		width: 33%;
	}

	.info__right-box {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 0.6rem;

		.info__right-top-txt {
			font-size: 1.5rem;
		}

		.info__right-middle-txt {
			font-size: 2.5rem;
		}

		.info__right-links-box {
			display: flex;
			justify-content: center;
			gap: 1rem;

			.info__right-links {
				font-size: 3rem;
				color: #0077b5;
			}

			.info__right-links:hover {
				transform: scale(1.1);
			}
		}
	}
}
.info__title-container {
	height: 2.5rem;
	overflow: hidden;
	position: relative;
}
.info__title {
	font-size: 2rem;
	display: block;
	animation: title-change 4s 2s infinite;
}

@keyframes title-change {
	0% {
		transform: translateY(0%);
	}
	33% {
		transform: translateY(-100%);
	}
	66% {
		transform: translateY(-200%);
	}
	100% {
		transform: translateY(0%);
	}
}
.section__box {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.section__box:last-child {
	margin-bottom: 3rem;
}

.section__title {
	font-size: 2.5rem;
}

.projects__box {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.web-projects__items-box {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
	place-content: center;
	gap: 2rem;
}

.hobby-projects__items-box {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	place-content: center;
	gap: 1rem;
}

@media screen and (max-width: 600px) {
	.info__box {
		flex-direction: column;
		gap: -1rem;
	}
}
