@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--primary-font);
}

/* GENERIC COLORS */
:root {
	--primary-bg-color: #f8f6f2;
	--primary-bg-color: #3bbadb;
	--secondary-bg-color: #f8f4ed;
	--accent-bg-color: #d1884f;
	--white-bg-color: #ffffff;
	--primary-btn-color: #008aaa;

	--primary-bg-color-03: rgb(59, 186, 219, 0.3);
	--primary-text-color: #3bbadb;
	--secondary-text-color: #ffffff;
	--black-text-color: #000;

	--primary-font: 'Roboto', sans-serif;
	--secondary-font: 'Poppins', sans-serif;
}

.wrapper {
	max-width: 1100px;
	margin: 0 auto;
}

.links {
	text-decoration: none;
}

body {
	background-color: var(--white-bg-color);
}
