@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--primary-font);
	transition: all 0.3s ease-in-out;
}

/* GENERIC COLORS */

:root[data-theme='dark'] {
	/* BACKGROUND COLORS */
	--acc-bg-color: #121212;
	--primary-bg-color: #1e1e1e;
	--primary-bg-color-frame: #faf7f2c5;
	--secondary-bg-color: #2c2c2c;
	--accent-bg-color: #d1884f;
	--primary-btn-color: #008aaa;
	--primary-card-color: #1e1e1e;

	/* TEXT COLORS */
	--primary-text-color: #faf7f2;
	--secondary-text-color: #000000;
	--black-text-color: #fff;
}

:root {
	/* FONTS */
	--primary-font: 'Roboto', sans-serif;
	--secondary-font: 'Poppins', sans-serif;

	/* BACKGROUND COLORS */
	--acc-bg-color: #f8f6f2;
	--primary-bg-color: #1e1e1e;
	--primary-bg-color-03: rgb(59, 186, 219, 0.3);
	--primary-bg-color-frame: #333;
	--secondary-bg-color: #faf7f2;
	--accent-bg-color: #d1884f;
	--primary-btn-color: #008aaa;
	--secondary-btn-color: #ffffff;
	--primary-card-color: #ffffff;

	/* TEXT COLORS */
	--primary-text-color: #000;
	--secondary-text-color: #ffffff;
	--highlight-text-color: #008aaa;
	--accent-text-color: #d1884f;
}

.wrapper {
	max-width: 1100px;
	margin: 0 auto;
}

.links {
	text-decoration: none;
}

body {
	background-color: var(--secondary-bg-color);
}

h2,
h3,
p {
	color: var(--primary-text-color);
}
