@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--primary-font);
}

/* GENERIC COLORS */
:root {
	--primary-bg-color: #f8f6f2;
	--secondary-bg-color: #f8f4ed;

	--primary-txt-color: #000;

	--primary-font: 'Robot', sans-serif;
}

.pages {
	max-width: 1100px;
}

.links {
	text-decoration: none;
}

body {
	display: grid;
	place-content: center;
	background-color: var(--primary-bg-color);
}
