.timeline__box {
	width: 100%;
}

.vertical-timeline-element-date {
	text-align: start;
	color: var(--primary-text-color);
}

.vertical-timeline__content-box .vertical-timeline-element-title {
	color: var(--highlight-text-color);
}

.vertical-timeline-element-subtitle {
	color: var(--primary-text-color);
}

.timeline__content {
	color: var(--primary-text-color);
	white-space: pre-line;
}

.timeline__btn {
	margin-top: 1rem;
	padding: 0.5rem;
	border-radius: 5px;
	border: 2px solid var(--primary-btn-color);
	background-color: var(--white-bg-color);
	font-size: 1.2rem;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	color: var(--primary-text-color);
}

.timeline__btn--minimize {
	border: 2px solid var(--accent-btn-color);
}

.timeline__btn:hover {
	background-color: var(--primary-btn-color);
	color: var(--secondary-text-color);
	transform: scale(1.1);
}

.timeline__btn--minimize:hover {
	background-color: var(--accent-btn-color);
}

@media screen and (max-width: 600px) {
	.vertical-timeline__content-box .vertical-timeline-element-title {
		font-size: 1.3rem;
	}
}
