.timeline__box {
	width: 100%;
	color: #787878;
}

.vertical-timeline-element--work {
	background-color: red;
}

.vertical-timeline-element-date {
	text-align: start;
}

.timeline__content {
	white-space: pre-line;
}

.timeline__btn {
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 5px;
	border: none;
	background-color: white;
	font-size: 1.2rem;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.timeline__btn--minimize {
	background-color: rgb(211, 211, 211);
}
