.timeline__box {
	width: 100%;
	color: #787878;
}

.vertical-timeline-element-date {
	text-align: start;
}

.timeline__content {
	white-space: pre-line;
}

.timeline__btn {
	margin-top: 1rem;
	padding: 0.5rem;
	border-radius: 5px;
	border: 2px solid var(--primary-btn-color);
	background-color: var(--white-bg-color);
	font-size: 1.2rem;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.timeline__btn--minimize {
	background-color: var(--white-bg-color);
}

.timeline__btn:hover,
.timeline__btn--minimize:hover {
	background-color: var(--primary-btn-color);
	color: var(--secondary-text-color);
}
