.web-card__box {
	position: relative;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--white-bg-color);
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.web-page__img {
	width: 100%;
	aspect-ratio: 16/9;
	cursor: pointer;
}

.web-page__img:hover {
}

.link__url {
	align-self: center;
	width: 40%;
	text-decoration: none;
	padding: 1rem;
	background-color: var(--primary-btn-color);
	border-radius: 5px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid var(--primary-btn-color);
	color: var(--secondary-text-color);
}

.link__url:hover {
	background-color: var(--primary-bg-color);
	color: var(--primary-txt-color);
}

.icon__tech-box--less-gap {
	gap: 0.5rem;
}

.mobile__info-paragraph {
	white-space: pre-line;
}
