.web-card__box {
	position: relative;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--primary-card-color);
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	transition: all 0.5s ease-in-out;
}

.web-card__link {
	margin-bottom: 1rem;
}

.web-card__box:hover {
	transform: scale(1.05);
}

.web-page__img {
	width: 100%;
	aspect-ratio: 16/9;
	cursor: pointer;
}

.link__box {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.link__url {
	align-self: center;
	width: 40%;
	text-decoration: none;
	padding: 1rem;
	background-color: var(--primary-btn-color);
	border-radius: 50px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid var(--primary-btn-color);
	color: var(--white-text-color);
	transition: all 0.3s ease-in-out;
}

.link__url:hover {
	transform: scale(1.1);
}

.link__url--white {
	border: 1px solid var(--accent-bg-color);
	background-color: var(--secondary-bg-color);
	color: var(--accent-text-color);
	cursor: pointer;
}

.link__url--white:hover {
	background-color: var(--accent-bg-color);
	color: var(--secondary-text-color);
}

.icon__tech-box--less-gap {
	gap: 0.5rem;
}

.mobile__info-paragraph {
	white-space: pre-line;
}

@media screen and (max-width: 600px) {
	.link__url {
		font-size: 1rem;
	}
}
