.hobby-projects__box {
	transition: all 0.3s ease-in-out;
	z-index: 999;
}

.hobby-projects__box:hover {
	transform: scale(1.05);
}

.iframe {
	width: 100%;
	aspect-ratio: 16/9;
	border: none;
}

.iframe-modal {
	width: 500px;
	aspect-ratio: 16/9;
}
