.hobby-projects__box {
	z-index: 999;
	border-radius: 5px;
	overflow: hidden;
}

.iframe {
	width: 100%;
	aspect-ratio: 16/9;
	border: none;
	transition: all 0.3s ease-in-out;
}

.iframe:hover {
	transform: scale(1.03);
}

.hobby-projects__items-box:hover .hobby-projects__box {
	filter: brightness(0.5);
	transition: all 0.3s ease-in-out;
}

.hobby-projects__items-box:hover .hobby-projects__box:hover {
	filter: brightness(1);
}
