.mobile__box {
	display: flex;
}

.mobile__frame-box {
	height: 520px; /* 640 * 0.5 */
	transform: scale(0.6);
	display: grid;
	place-content: center;
}

/* Mobilens skal */
.mobile__frame {
	width: 460px;
	height: 845px;
	border: 1rem solid #333;
	border-radius: 1.875rem;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* iframe-innehåll */
.mobile__iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.icon__box {
	display: flex;
	flex-direction: column;
	align-items: center;
}
