.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 2rem;

	.header__name {
		font-family: var(--secondary-font);
		font-style: italic;
		font-weight: 300;
	}
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.nav__list:hover li {
	color: grey;
	opacity: 0.9;
}

@media screen and (max-width: 600px) {
	.header {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
}
