.form__box {
	max-width: 600px;
	background-color: white;
	border-radius: 0.625rem;
	box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.15);
	position: relative;
}

.contact__box {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
}

.contact__input,
.contact__text-area {
	padding: 0.5rem;
	align-self: center;
	width: 100%;
	border-radius: 0.625rem;
	border: 1px solid black;
}

.contact__btn {
	padding: 0.7rem 0.5rem;
	border-radius: 0.625rem;
	border: none;
	background-color: var(--primary-bg-color);
	color: var(--white-text-color);
	transition: all 0.3s ease-in-out;
}

.contact__btn:hover {
	transform: scale(1.02);
}

.contact__input:focus,
.contact__text-area:focus {
	outline: none;
	border: 2px solid var(--primary-text-color);
}

.contact__text-area {
	resize: vertical;
	min-height: 6rem;
}

.contact__btn {
	cursor: pointer;
}

.sent-msg__box {
	position: absolute;
	padding: 2rem;
	border-radius: 5px;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
	background-color: var(--accent-bg-color);
}

.sent-msg__text {
}
