.theme-btn {
	background-color: transparent;
	display: grid;
	place-content: center;
	height: 40px;
	width: 40px;
	border: 1px solid var(--primary-btn-color);
	border-radius: 50px;
	font-size: 2rem;
	color: var(--accent-btn-color);
	cursor: pointer;
}

.theme-btn:hover {
	background-color: var(--primary-bg-color-frame);
}

/* .theme__light {
	color: var(--primary-btn-color);
}

.theme__dark {
	color: var(--accent-btn-color);
} */
