.nav__title {
	color: var(--primary-txt-color);
	position: relative;
	font-family: var(--secondary-font);
}

/* .nav__title:hover {
	color: grey;
} */

.nav__title::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0.125rem;
	background-color: grey;
	transition: width 0.5s ease-in-out;
}

.nav__title:hover::after {
	width: 100%;
}

.nav__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.8rem;
	cursor: pointer;
}
